 .header{
  display: flex;
  justify-content: center;
 align-content: center;
 font-family: "algerian";
}

.container {
  display: grid;
  place-items: center;
  border: 2px double gray;
  height: 35em;
  border-radius: 1rem;
  background-color: rgb(204, 218, 231);
}


.mt-5{
      border: none;
      height: auto;
      background-color: transparent;
    }